export PORT=3000
export MONGO_DB_URI='mongodb://travelers:travelers@localhost:27017/travelers?authSource=admin'
export JWT_SECRET_KEY='topSecretKey'
export AWS_ACCESS_KEY_ID='AKIARWIVLBKM7VIBRPMM'
export AWS_SECRET_ACCESS_KEY='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'
export AWS_BUCKET_NAME='travelers-image-s3-bucket'